:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 320px;
    min-height: 100vh;
    cursor: none;
}

button:hover {
    filter: brightness(0.8);
}

.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: default;
}

.hidden {
    display: none;
}

/* Carousel Container */
.carousel-container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
}

.carousel-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Card Styles */
.card {
    width: 350px;
    height: 450px;
    border-radius: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    flex-shrink: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    padding: 0;
    margin: 5px;
    font-size: 1.5rem;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Play button for Shooting Game */
.play-button {
    height: 8%;
    width: 50%;
    background-color: #40a337;
    color: white;
    font-size: 1rem;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.game-button {
    height: 50px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.restart-button {
    background-color: #e99332;
}

.menu-button {
    background-color: #868686;
}

#app {
    width: 100%;
    height: 100%;
    display: block;
}

#mainMenu,
#countdownTimer {
    text-align: center;
}

#mainMenu h1 {
    font-size: 5rem;
    margin: 0;
}

#hud {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    z-index: 5;
    display: none;
}

#gameOverScreen h2 {
    font-size: 4rem;
    margin: 20px 0;
}

#gameOverScreen p {
    font-size: 1.5rem;
    margin: 20px 0;
}

/* Screens Below 1100px */
@media (max-width: 1100px) {
    .carousel-container {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .carousel-container {
        justify-content: flex-start;
    }
}